$cs-a: rgb(85,26,139); 
$cs-b: rgb(232,110,164); 
$cs-c: rgb(97,209,185);
 
$cs_names: cs-a cs-b cs-c;
$cs_vars: $cs-a $cs-b $cs-c;
 
 @mixin module-theme {
  @each $cs_name in $cs_names {
    $i: index($cs_names, $cs_name);
    .block--modifier-#{$cs_name} {
      background-color: nth($cs_vars, $i);
       
      .block--modifier__element {
        background-color: nth($cs_vars, $i);
      }
      
    }
  }
}
 
@include module-theme;