// ******************************
// ! Paragraphs             
// ******************************   

.hero {

}

.lead {
	
}



    // ******************************
    // ! MQ - Mobile               
    // ******************************
    @include mq( $from: mobile ) {
     
    }
     
        // ******************************
        // ! MQ - Tablet               
        // ******************************
        @include mq( $from: tablet ) {
         
        }
         
         
            // ******************************
            // ! MQ - Desktop               
            // ******************************
            @include mq( $from: desktop ) {
                 
                 
            }
             
                // ******************************
                // ! MQ - Wide               
                // ******************************
                @include mq( $from: wide ) {
                     
                }