/******************************************************************

Stylesheet: Tablet & Small Desktop Stylesheet

******************************************************************/


/*******************************
/* ! GENERAL STYLES           */
/******************************/

body {}


/*******************************
/* ! LAYOUT & GRID STYLES     */
/******************************/

.l-constrained {
	max-width: 67.500em; // 1080px
}

/*******************************
/* ! HEADER STYLES            */
/******************************/

.site-header {
	
	
}

/*******************************
/* ! NAVIGATION STYLES        */
/******************************/


/*******************************
/* ! SIDEBARS & ASIDES        */
/******************************/


/*******************************
/* ! FOOTER STYLES            */
/******************************/


