/******************************************************************

Stylesheet: Base Mobile Stylesheet

******************************************************************/


/*******************************
/* ! GENERAL STYLES           */
/******************************/

body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5;
	color: #565656;
}


/*******************************
/* ! LAYOUT & GRID STYLES     */
/******************************/

.wrap {
	width: 96%;
	margin: 0 auto;
}


/*******************************
/* ! HEADER STYLES            */
/******************************/

.site-header {
	
}


*******************************
/* ! NAVIGATION STYLES        */
/******************************/

.primary-nav {

	ul {
		margin: 0;
		padding: 0;	
	}

	li.menu-item {

		a {
			display: block;
			text-decoration: none;
			padding: 1em;
			background-color: $grey;
			border-bottom: 1px solid $black;

			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}


		/*******************************
		/* ! SUB NAV STYLES           */
		/******************************/

		ul.sub-menu {

			li.menu-item {

				a {
					padding-left: 0.5em;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	li.current {

		a {}

	}  /* end current */

} /* end .primary-nav */

/*******************************
/* ! SECONDARY NAV STYLES     */
/******************************/

.secondary-nav {

	ul {

		li {
			
			a {
				
			}
		}

	}

} /* end .secondary-nav */



/*******************************
/* ! SUPPORTING NAV STYLES    */
/******************************/

.supporting-nav {

	ul {

		li {
		
			a {
				
			}
		}

	}

} /* end .supporting-nav */


/*******************************
/* ! POSTS & CONTENT STYLES   */
/******************************/

.site-content {
	
}

/*****************************************************************
/* ! PAGE NAVI STYLES                                           */
/****************************************************************/

/*****************************************************************
/* ! COMMENT STYLES                                             */
/****************************************************************/

/*****************************************************************
/* ! COMMENT FORM STYLES                                        */
/****************************************************************/

/*******************************
/* ! SIDEBARS & ASIDES        */
/******************************/


/*******************************
/* ! FOOTER STYLES            */
/******************************/

.site-footer {
	
}


.copyright {
	
}
.credits {
	
}

