/******************************************************************

Stylesheet: Base Mobile Stylesheet

******************************************************************/


/*******************************
/* ! GENERAL STYLES           */
/******************************/

body {
	font-family: $serif;
	font-size: 100%;
	line-height: 1.5;
	color: $black;
}


/*******************************
/* ! LAYOUT & GRID STYLES     */
/******************************/

.l-constrained {
	width: 96%;
	margin: 0 auto;
}


/*******************************
/* ! HEADER STYLES            */
/******************************/

.site-header {
	
}


/*******************************
/* ! NAVIGATION STYLES        */
/******************************/

/* Primary
-----------------------------*/
.nav--primary {

	ul {
		margin: 0;
		padding: 0;	
	}

	/*li*/
	.nav__item {

		a {
			display: block;
			text-decoration: none;
			padding: 1em;
		
			&:hover,
			&:focus {
			
			}
		}
		
		&.nav__item--current {
	
			a {}
	
		} 

		/* Primary--Sub
		-----------------------------*/
		ul.nav-sub {

			.nav__item {

				a {
					padding-left: 0.5em;

					&:hover,
					&:focus {
						
					}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .nav__item li */

} /* end .nav--primary */

/*******************************
/* ! SECONDARY NAV STYLES     */
/******************************/

.nav-secondary {

	ul {

	}
	
	.nav__item {

		a {
		
			&:hover,
			&:focus {
			
			}
		}
	}
} /* end .secondary-nav */


/*******************************
/* ! SUPPORTING NAV STYLES    */
/******************************/

.nav-supporting {

	ul {

	}
	
	.nav__item {

		a {
		
			&:hover,
			&:focus {
			
			}
		}
	}
} /* end .secondary-nav */


/*******************************
/* ! POSTS & CONTENT STYLES   */
/******************************/

.site-content {
	
}

/* Articel entry content
-----------------------------*/
.entry-content {
	
}
	
	.entry-content__header {
		
	}

	.entry-content__section {
		
	}


/*******************************
/* ! SIDEBARS & ASIDES        */
/******************************/

.complementary {
	
}

/*******************************
/* ! FOOTER STYLES            */
/******************************/

.site-footer {
	
}

/* Copyright
-----------------------------*/
.copyright {
	
}

/* Credits
-----------------------------*/
.credits {
	
}

	.credits__link {
		
	}

