/******************************************************************

Stylesheet: Styleguide

******************************************************************/


/**********************
/* ! COLOUR SCHEMING */
/*********************/

$alert-red:			rgb(240,122,132);
$alert-yellow:      rgb(235,224,119);
$alert-green:       rgb(197,210,143);
$alert-blue:        rgb(173,215,228);


$black:             rgb(0,0,0);
$grey: 				rgb(145,145,145);
$white:             rgb(255,255,255);

$cs-colorName:				rgb(0,0,0);


$cs-btn:    		rgb(0,0,0);

$link-color:        $grey;
$link-hover:        darken($link-color, 9%);
	
/*********************
/* ! LINK STYLES    */
/********************/

a {
	color: $link-color;

	&:hover, &:focus {
		color: $link-hover;
	}

	&:active {

	}

	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
/* ! TYPOGRAPHY		*/
/********************/

$sans-serif:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Georgia", Cambria, Times New Roman, Times, serif;


/******************************************************************
/* ! H1, H2, H3, H4, H5 STYLES									 */
/*****************************************************************/

h1, h2, h3, h4, h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 500;

	a {
		text-decoration: none;
	}
}

h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3 {
	font-size: 1.125em;
}

h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
/* ! TABLES			*/
/********************/

table {
	width: 100%;
	border-collapse: separate;
	margin: 0 0 20px;
	
	thead{
		
		tr{
			
			th{
				display: table-cell;
				vertical-align: bottom;
				padding-bottom: 5px;
				padding-top: 10px;
				padding-left: 5px;
				border-bottom: 1px rgb(221, 221, 221) solid;
				border-right: 1px rgb(221, 221, 221) solid;
				border-left: 1px rgba(0, 0, 0, 0) solid;
				border-top: 1px rgba(0, 0, 0, 0) solid;
				letter-spacing: 0.01em;
				line-height: 13pt;
				color: rgba(0, 0, 0, 0.6);
				text-align: left;
			}
			
		}
		
	}
	
	tbody {
	
		tr {
		border: 1px rgb(255, 255, 255) solid;
		
		&:nth-child(odd){
			background-color: rgb(249, 249, 249);	
		}
			td{
				letter-spacing: 0.02em;
				line-height: 14pt;
				padding: 3px 10px;
				border-right: 1px rgb(221, 221, 221) solid;
				border-bottom: 1px rgb(221, 221, 221) solid;
				border-left: 1px rgba(0, 0, 0, 0) solid;
				border-top: 1px rgba(0, 0, 0, 0) solid;
				box-sizing: border-box;	
			}
		}	
		
	}	
}

/*********************
/* ! FORM UI		*/
/********************/


/* Placeholder Styles 
-----------------------------*/
::-webkit-input-placeholder {
   color: #ccc;
   font-weight: lighter;
}

::-moz-input-placeholder {
   color: #ccc;
   font-weight: lighter;
}

/* Default input styles  
-----------------------------*/
input[type=name],
input[type=email],
input[type=password],
input[type=text],
textarea[type=text] {
	font-family: $sans-serif;
	font-size: 1em;
	width: 100%;
	color: #999;
	padding: 0.5em;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type=name]:hover,
input[type=email]:hover,
input[type=password]:hover,
input[type=text]:hover,
textarea[type=text]:hover {
	outline: none;
	border: 1px solid #bbb;
	box-shadow: none;
}

input[type=name]:focus,
input[type=email]:focus,
input[type=password]:focus,
input[type=text]:focus,
textarea[type=text]:focus {
	outline: none;
	border: 1px solid $black;
	box-shadow: 0 0 5px $grey;
}

textarea[type=text] {
	height: 200px;
}

input.highlight {
	border: 1px solid #ffcc33;
	box-shadow: 0 0 5px #ffff00;
}

input.error {
	border: 1px solid #dd212b;
	box-shadow: 0 0 5px #ed1b24;
}



/* Sliders  
-----------------------------*/
input[type="range"] {
    -webkit-appearance: none;
    outline: none;
    width: 250px;
    height: 10px;
    border-radius: 10px;
    position: relative;    
    background-color: rgba(0, 0, 0, .8);    
    border: 0;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 1px 0 #fff, inset 0 0 5px rgba(0, 0, 0, 1);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 100%;
   	background-image: -webkit-linear-gradient(#2da1ec, #0191d9);
   	background-image: -moz-linear-gradient(#2da1ec, #0191d9);
   	background-image: -ms-linear-gradient(#2da1ec, #0191d9);
   	background-image: linear-gradient(#2da1ec, #0191d9);
}

input[type="range"]::-webkit-slider-thumb:hover {
   background-image: -webkit-radial-gradient(#2eacff, #0191d9);
   background-image: -moz-radial-gradient(#2eacff, #0191d9);
   background-image: -ms-radial-gradient(#2eacff, #0191d9);
   background-image: radial-gradient(#2eacff, #0191d9);
}

input[type="range"]::-webkit-slider-thumb:active {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}


/*********************
/* ! ALERT		  	*/
/********************/

%alert {
	margin: 10px;
	padding: 5px 18px;
	border: 1px solid;
}

/* Warning   
-----------------------------*/
.alert-warning {
	@extend %alert;
	border-color: darken($alert-yellow, 5%);
	background: $alert-yellow;
}

/* Informative  
-----------------------------*/
.alert-info {
	@extend %alert;
	border-color: darken($alert-blue, 5%);
	background: $alert-blue;
}

/* Error  
-----------------------------*/
.alert-error {
	@extend %alert;
	border-color: darken($alert-red, 5%);
	background: $alert-red;
}

/* Success  
-----------------------------*/
.alert-success {
	@extend %alert;
	border-color: darken($alert-green, 5%);
	background: $alert-green;
}







